.domaca {
    width: 85%;
    margin-top: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.card-deck {
    justify-content: center;
    display: flex;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    padding-bottom: 20px;
}

.artikel-card {
    width: 22rem; 
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 0px;
}

.row {
    --bs-gutter-x: 1.5rem;
}

.cardtitle {
    height: 85px;
    overflow: hidden;
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 10px;
}

.carddesc {
    padding-top: 20px;
    max-height: 75%;
    overflow: auto;
}

.card-body {
    max-height: 350px;
    overflow: hidden;
}

.card-footer {
    padding-top: 20px;
    padding-bottom: 10px;
}

.price-tag {
    padding-top: 10px;
    font-weight: bold;
    font-size: larger;
}

.fas {
    margin-right: 5px;
}

#ocena {
    width: 60px;
}

#kolicina {
    width: 60px;
    margin-left:25px;
}
